* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

.content {
    padding: 5% 30%;
    text-align: left;
}

.content.content .button-group {
    display: flex;
    /* justify-content: center; */
    gap: 10px;
}  

.content.content .button-selected {
    background-color: #0146af;
    color: #ffffff;
}
  

.question-container{
    width: 100%;
}
.content.content .button-unselected {
    background-color: #428cfb;
    color: #ffffff;
}

.content.content .button-normal {
    background-color: #0d6efd;
    color: #ffffff;
}

.content.content button {
    padding: 1px 6px;
    margin: 3px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.content.content .fmk-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.content.content .fmk-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.fmk-container{
    margin-bottom: 5%;
}
.button-group {
    width: 100%;
    margin-bottom: 5%;
}  

.button-selected {
    background-color: #908f8f;  /* green when selected */
    color: #000;  /* black text */
}
  
.button-unselected {
    background-color: #e9e9e9;  /* red for other buttons in the same group */
    color: #000;  /* white text */
}

.button-normal {
    background-color: #c2c2c2;  /* grey for default state */
    color: #000;  /* black text */
}

button{
    padding: 2px 7px;
    margin: 3px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.fmk-container {
    display: flex;
    justify-content: space-between;  /* Distribute divs with equal space */
    gap: 20px;  /* Add some gap between divs */
}

.fmk-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center content horizontally */
    gap: 10px;  /* Space between the image and buttons */
}
